/* BUTTONS "INDEX" */

@mixin btn($font-color, $background-color, $font-size){
    color: $font-color;
    background: $background-color;
    font-size: $font-size;
    border:none;
    padding: 12px 40px;
    letter-spacing: 1px;
}

.btn{
    @include btn (#ffffff, rgba(116, 81, 158, 0.717), 500)
}


.btn:hover{
    @extend .btn;
    background:  rgba(46, 14, 82, 0.717);
    font-weight: bold;
}


/* BUTTONS "CONTACTO" */

.button__enviar{
    display: inline-block;
    border-radius: 8px;
    padding: 15px 15px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    background: #575797;
    transition: all 0.5s;
}
   

.button__enviar:hover{
    @extend .button__enviar;
    background: #32326a;
    font-weight: bold;
}

