@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mulish:wght@200;300&family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Lato:wght@300&family=Mulish:wght@200;300&family=Nanum+Myeongjo:wght@700&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

html, body{
    width: 100%;
    height: 100vh;
    background-color:#EBEBE6;
    font-family: 'Mulish', sans-serif;
}

.tittle__principal{
    font-family: 'Ibarra Real Nova', serif;
    letter-spacing: 1px;
}
.img__principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(../img/imagen_principal.jpg);
}


.principal__enologo{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/viniedo_contacto.jpg);
}

.tittle__enologo{
    display: block;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

img.card-img-top{
    width: 200px;
    height: 180px;
    align-self: center;
    padding: 20px;
}

