.gallery{
    display: grid;
    grid-template-areas:
    "vino1 vino2"
    "vino3 vino4"
    "vino5 vino6";
    padding: 2%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.gallery__picture1{
    grid-area: vino1;
}

.gallery__picture2{
    grid-area: vino2;
}

.gallery__picture3{
    grid-area: vino3;
}

.gallery__picture4{
    grid-area: vino4;
}

.gallery__picture5{
    grid-area: vino5;
}

.gallery__picture6{
    grid-area: vino6;
}

.gallery__picture{
    overflow: hidden;
    margin: 20px;
    width: 100%;
    height: 100%;
}

.gallery__img{
    transition: 0.3s;
    object-fit: cover;
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.gallery__img:hover{
    transform: scale(1.1);
}

.subtitle_vinos{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5rem;
}

.carousel__bodega{
    height: 70vh;
}


/*                            <------- MEDIA VINOS------->                                              */


@media screen and ( min-width: 576px){
    .gallery{
        margin: 2%;
    }
}

@media screen and (min-width: 1300px){
    .gallery{
        display: grid;
        grid-template-areas:
        "vino1 vino2 vino3"
        "vino4 vino5 vino6";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    
}
